@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}
.start-course__gradient {
  @apply w-[1067px] blur-[159.73px] h-[240px] top-[5%] absolute hidden lg:block opacity-90;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #7bdde2 0,
    rgba(127, 208, 231, 0) 100%
  );
}
.create-wallet__right-gradient {
  @apply h-[480px] w-full blur-[159.73px] max-w-[480px] opacity-90 absolute -top-2/3 z-0 left-[20%] hidden lg:block;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #8e9af9 0,
    rgba(127, 208, 231, 0) 100%
  );
}
.complete-course__gradient {
  @apply top-[38%] right-[70%]  blur-[159.73px] opacity-60 absolute h-[480px] w-[480px] z-0 hidden lg:block;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #7bdde2 0,
    rgba(123, 221, 226, 0) 100%
  );
}
.hero__gradient {
  @apply absolute lg:-top-[550px]  -top-[520px] opacity-[0.4]  h-[100%] w-[50%] z-50;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #8e9af9 0,
    rgba(127, 208, 231, 0) 100%
  );
}
.hero__gradient--left {
  @apply left-0 lg:-left-48;
}
.hero__gradient--right {
  @apply right-0 lg:right-0;
}
@font-face {
  font-family: Graphik;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Graphik-Semibold-Web.woff2) format("truetype");
}

@font-face {
  font-family: Graphik;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Graphik-Medium-Web.woff2) format("truetype");
}

@font-face {
  font-family: Graphik;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Graphik-Regular-Web.woff2) format("truetype");
}

@font-face {
  font-family: Graphik;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/GraphikRegularItalic.woff2) format("truetype");
}
.container-wrapper {
  @apply max-w-[1094px];
}
